<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Restaurant</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
            <div class="container">

                @Html.ActionLink("Restauracja", "Index","Home", new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @Html.ActionLink("Logowanie", "Login", "Home", new { @class = "nav-link text-light" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Rejestracja", "Register", "Home", new { @class = "nav-link text-light" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @RenderSection("ScriptsBottom", required: false)
</body>
@RenderSection("ScriptsBottom", required: false)

</html>
