@model Tuple<List<Restaurant_DCI.Models.Product>, Restaurant_DCI.Models.Order>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions 
    {
        HttpMethod= "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId= "ProductsList"
    };
}

<div class="row ">
    <div class="col-xl-2">
        <div>
            @Ajax.ActionLink("Dania główne", "ViewCategory", "User", new { category = "Dania główne" }, ajaxOptions, new { @class = "list-group-item list-group-item-action"})
            @Ajax.ActionLink("Przystawki", "ViewCategory", "User", new { category = "Przystawki" }, ajaxOptions, new { @class = "list-group-item list-group-item-action" })
            @Ajax.ActionLink("Sałaty", "ViewCategory", "User", new { category = "Sałaty" }, ajaxOptions, new { @class = "list-group-item list-group-item-action" })
            @Ajax.ActionLink("Zupy", "ViewCategory", "User", new { category = "Zupy" }, ajaxOptions, new { @class = "list-group-item list-group-item-action" })
            @Ajax.ActionLink("Pizza", "ViewCategory", "User", new { category = "Pizza" }, ajaxOptions, new { @class = "list-group-item list-group-item-action" })
            @Ajax.ActionLink("Desery", "ViewCategory", "User", new { category = "Desery" }, ajaxOptions, new { @class = "list-group-item list-group-item-action" })
            @Ajax.ActionLink("Dodatki", "ViewCategory", "User", new { category = "Dodatki" }, ajaxOptions, new { @class = "list-group-item list-group-item-action" })

        </div>
    </div>
    <div class="col-xl-7 list-group" id="ProductsList">
        
        @Html.Partial("~/Views/Shared/_Products.cshtml", Model.Item1)
    </div>
    <div class="col-xl-3" id="ShoppingBasket">
        @Html.Partial("~/Views/Shared/_ShoppingBasket.cshtml",Model.Item2)
    </div>
</div>

