@model IEnumerable<Restaurant_DCI.Models.Order>
@using Restaurant_DCI.Models

@{
    ViewBag.Title = "Zamówienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >
    <h4>Zamówienia</h4>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Numer zamówienia</th>
                <th>Data zamówenia</th>
                <th>Koszt całkowity</th>
                <th>Adres wysyłki</th>
                <th>Status zamówienia</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <div ></div>
                <tr >
                    <td>@Html.DisplayTextFor(m => item.OrderId)</td>
                    <td>@Html.DisplayTextFor(m => item.DateCreated)</td>
                    <td>@Html.DisplayTextFor(m => item.TotalPrice) zł</td>
                    <td>@Html.DisplayTextFor(m => item.Address) @Html.DisplayTextFor(m => item.CodeAndCity)</td>
                    <td>@item.OrderState.GetDisplayName()</td>
                </tr>

            }
        </tbody>
        </table>
</div>

