@model IEnumerable<Restaurant_DCI.Models.Product>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ">
    <div class="col-xl-2">
        <div>
            @Html.ActionLink("Dania główne", "Home", "Home", new { category = "Dania główne" }, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Przystawki", "Home", "Home", new { category = "Przystawki" }, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Sałaty", "Home", "Home", new { category = "Sałaty" }, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Zupy", "Home", "Home", new { category = "Zupy" }, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Pizza", "Home", "Home", new { category = "Pizza" }, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Desery", "Home", "Home", new { category = "Desery" }, new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Dodatki", "Home", "Home", new { category = "Dodatki" }, new { @class = "list-group-item list-group-item-action" })

        </div>
    </div>
    <div class="col-xl-8 list-group">
        <h3>@ViewBag.category</h3>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="list-group-item list-group-item-action">
                    <div class="row">
                        <div class="col-xl-10">
                            <h5 class="alert-heading">@Html.DisplayTextFor(m => item.Name)</h5>
                            @Html.DisplayTextFor(m => item.Description)
                        </div>
                        <div class="col-xl-2 text-right"><p>@Html.DisplayTextFor(m => item.Price)zł</p></div>
                    </div>
                    
                </div>
            }
        }
        else
        {
            @Html.DisplayText("Brak ofert w tej kategorii.")
        }

    </div>
    <div class="col-xl-2">
        
    </div>
</div>

